.collection {
  width: 366px;
  height: 428px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 1px 3px 6px rgba(246, 239, 239, 0.754);
  margin-bottom: 10px;
  .collection-wrapper {
    .img-wrapper {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-size: cover;
      }
    }
  }
}
